<nav class="navbar navbar-default" th:fragment="navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-maxcdn"></i> 小熊</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="/">首页</a></li>
                <li>
                    <a href="/download" >账号设置</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                        <li th:unless="${session.user} ">
                            <a th:attr="href=${@pathConfig.getWebsitePath()}+'user/login'">登录</a>
                        </li>
                        <li  th:unless="${session.user} ">
                            <a href="#" data-toggle="modal" data-target="#registerModal">注册</a>
                        <li/>

                        <li>
                            <a href="#" ></a>
                        </li>
                        <li>
                            <a th:attr="href=${@pathConfig.getWebsitePath()}+'user/loginout'" >安全退出</a>
                        </li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    < <!-- Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">用户注册</h4>
                </div>
                <div class="modal-body">
                    <form th:attr="action=${@pathConfig.getWebsitePath()}+'subject/add'" id="registerForm" method="post">
                        <div class="form-group">
                            <label for="regUserName">用户名称</label>
                            <input type="text" class="form-control" id="regUserName" name="subjectName" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="regPwd">注册密码</label>
                            <input type="text" class="form-control" name="regPwd" id="regPwd" placeholder="">
                        </div>
                        <button type="button" id="registerBtn" class="btn btn-default">提交</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            </div>
        </div>
    </div>
</nav>

