<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>日常小程序</title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="keywords" content="企业信用,企业查询,工商信息,企业工商,工商查询,企业信用查询,企业工商信息查询"/>
    <meta http-equiv="description" content="仅供聚统计使用"/>
    <link th:href="@{../static/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css"/>


</head>
<body>

<div class="container">

    <input type="hidden" id ="websiteUrl" th:attr="value=${@pathConfig.getWebsitePath()}"/>
    <p>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            新建主题
        </button>
    </p>
    <ul class="list-group">
        <tr th:each="subject,subjectState:${list}">
            <a th:attr="href=${@pathConfig.getWebsitePath()} + 'subject/' + ${subject.id} + '/records'"><li class="list-group-item list-group-item-info"
                th:attr="id=subject_title+${subjectState.index+1},title=${subject.subjectDesc}">
                <td th:text="${subjectState.index+1} + . + ${subject.subjectName}"></td>
            </li></a>
        </tr>
    </ul>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <form th:attr="action=${@pathConfig.getWebsitePath()}+'subject/add'" id="addForm" method="post">
                        <div class="form-group">
                            <label for="subjectName">主题名称</label>
                            <input type="text" class="form-control" id="subjectName" name="subjectName" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="subjectDesc">主题简介</label>
                            <input type="text" class="form-control" name="subjectDesc" id="subjectDesc" placeholder="">
                        </div>
                        <button type="button" id="newSubjectButton" class="btn btn-default">提交</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" th:src="@{/static/js/jquery-3.2.1.js}"></script>
<script type="text/javascript" th:src="@{/static/bootstrap/js/bootstrap.js}"></script>
<script type="text/javascript">
    $(function () {
        Demo = function () {

        }
        Demo.prototype = {
            init: function () {
                this.bindRandomSelectEvent();

            },
            // 绑定随机选择题目的事件
            bindRandomSelectEvent: function () {
                $("#newSubjectButton").on("click", function () {
                    console.log($("#addForm").serialize());
                    $.ajax({
                        type: 'POST',
                        url: $("#websiteUrl").val() + "subject/add",
                        // contentType: "application/json",
                        data: $("#addForm").serialize(),
                        success: function(data){
                            if(data.code != 0){
                                alert(data.message);
                                return;
                            }
                            window.location.reload()
                        },
                        dataType: "json"
                    });
                })
            }

        }
        var demo = new Demo();

        function getRandom(min, max) {
            var range = max - min;
            var rand = Math.random();
            return min + Math.round(range * rand);
        }

        demo.init();
    }())

</script>

</body>
</html>