<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>超凡通信科技有限公司</title>
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="keywords" content="超凡通信科技有限公司" />
	<meta http-equiv="description" content="超凡通信科技" />
	<link th:href="@{../static/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css"/>


</head>
<body background="../static/img/007.jpg">
<div class="navbar navbar-default navbar-fixed-top">

	<div class="container">
		<div class="navbar-header">

			<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand hidden-sm" href="http://115.159.149.177:81/chaofan" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'navbar-首页'])">超凡通信科技有限公司</a>
		</div>
		<div class="navbar-collapse collapse" role="navigation">
			<ul class="nav navbar-nav">
				<!--<li class="hidden-sm hidden-md"><a href="https://v2.bootcss.com/"  target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v2doc'])">Bootstrap2中文文档</a></li>
				<li><a href="https://v3.bootcss.com/" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v3doc'])">Bootstrap3中文文档</a></li>
				<li><a href="https://v4.bootcss.com/" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'v4doc'])">Bootstrap4中文文档</a></li>
				<li><a href="/p/lesscss/" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'less'])">Less 教程</a></li>
				<li><a href="https://www.jquery123.com/" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'jquery'])">jQuery API</a></li>
				<li><a class="reddot" href="http://www.youzhan.org/" target="_blank" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'youzhan-main-nav'])">网站实例</a></li>-->
			</ul>
			<ul class="nav navbar-nav navbar-right hidden-sm">
				<li><a href="/about/" onclick="_hmt.push(['_trackEvent', 'navbar', 'click', 'about'])">关于</a></li>
			</ul>
		</div>
	</div>
	<img src="../static/img/chaofan.jpg" width="200px"/>
</div>
<div class="container">

	<input type="hidden" id="demoCount" th:attr="value=${demoCount}">
	<input type="hidden" id="currentId" value="-1">
	<p><a class="btn btn-primary btn-lg" id="randomSelectButton" href="javascript:void(0);" role="button">戳这里</a></p>
	<ul class="list-group">
		<tr th:each ="demoObj,demoObjState:${demos}" >
			<li class="list-group-item list-group-item-info" th:attr="id=demotitle+${demoObjState.index+1}"><td th:text="${demoObjState.index+1} + . + ${demoObj.title}"></td></li>
		</tr>
	</ul>
</div>

<script type="text/javascript" th:src="@{/static/js/jquery-3.2.1.js}"></script>
<script type="text/javascript">
    $(function(){
        Demo = function(){

        }
        Demo.prototype = {
            init:function(){
                this.bindRandomSelectEvent();

            },
            // 绑定随机选择题目的事件
            bindRandomSelectEvent:function(){
                $("#randomSelectButton").on("click",function(){
					console.log("hello");
                    //清空之前选择的
                    $(".list-group-item.list-group-item-danger").attr("class", "list-group-item list-group-item-info");
                    var total = parseInt($("#demoCount").val());
                    var id = getRandom(1,total);
                    var currentId = parseInt($("#currentId").val());
                    while(id == currentId){
                        id = getRandom(1,total);
                    }
                    $("#currentId").val(id);
                    //更改随机选中的颜色
                    $("#demotitle"+id).attr("class","list-group-item list-group-item-danger");
                })
            }

        }
        var demo = new Demo();
        function getRandom(min,max){
            var range = max - min;
            var rand = Math.random();
            return min + Math.round(range * rand);
        }

        demo.init();
    }())

</script>

</body>
</html>