<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>日常小程序</title>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="keywords" content="企业信用,企业查询,工商信息,企业工商,工商查询,企业信用查询,企业工商信息查询" />
    <meta http-equiv="description" content="仅供日常娱乐使用" />
    <link th:href="@{../static/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css"/>


</head>
<body >
<h5>首页index.html</h5>


</body>
</html>