<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>聚统计</title>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="keywords" content="统计,健康" />
    <meta http-equiv="description" content="仅供日常娱乐使用" />
    <link th:href="@{/static/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css"/>


</head>
<body >
<h5 >记录列表页面</h5>
<h5 th:attr="text='记录列表页面'+ ${totalCount}"></h5>


</body>
</html>